.warn-statistics-wrapper {
  display: flex;
  flex-flow: wrap row;
  background: white;
  padding: 11px 20px 22px;
  margin-right: 20px;
  box-sizing: border-box;
}

.warn-statistics-wrapper .warn-statistics-item-name {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  color: #454F64;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 12px;
  line-height: 14px;
  border-left: 2px solid #126BFB;
  padding-left: 7px;
  font-family: PingFangSC-Regular;
}

.warn-statistics-wrapper .warn-statistics-item-value {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #17233D;
  letter-spacing: 0;
  line-height: 14px;
}